<h1 class="font-weight-boldb text-center my-4"><%= t('new.coin') %></h1>

<%= render 'form', coin: @coin %>

<div class="container">
  <%= link_to t('links.back'), coins_path, class: "btn btn-primary" %>
</div>

